<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produto</title>
</head>
<body>

   <h2>Cadastro de Produto</h2>
     <form method="get" action="/submit">
        <label for="product-name">Nome do Produto</label>
            <input type="text" id="product-name" name="product-name" placeholder="Digite o nome">
        <label for="product-price">Preço</label>
            <input type="number"  step="0.01" id="product-price" name="product-price" placeholder="Digite o preço">
        <label for="product-description">Descrição</label>
            <input type="text" id="product-description" name="product-description" placeholder="Digite a descrição">

        <button type="submit" class="btn">Cadastrar</button>
     </form>

</body>
</html>