{% extends "base.html" %}

{% block content %}
    <h2>All Lists</h2>
    <h3>Waiting Queue</h3>
    <ul>
        {% for item in data.waiting_queue %}
            <li>Exam ID: {{ item.exam_id }}, Patient ID: {{ item.patient_id }}, Timestamp: {{ item.timestamp }}</li>
        {% endfor %}
    </ul>
    <h3>Exams in Progress</h3>
    <ul>
        {% for item in data.exams_in_progress %}
            <li>Exam ID: {{ item.exam_id }}, Patient ID: {{ item.patient_id }}, Timestamp: {{ item.timestamp }}</li>
        {% endfor %}
    </ul>
    <h3>Exams Collected</h3>
    <ul>
        {% for item in data.collected_exams %}
            <li>Exam ID: {{ item.exam_id }}, Patient ID: {{ item.patient_id }}, Timestamp: {{ item.timestamp }}</li>
        {% endfor %}
    </ul>
{% endblock %}