{% extends "base.html" %}

{% block content %}
    <h2>Registrar Exame Laboratorial</h2>
    <form method="POST">
        <label for="id_exame">Exame:</label>
        <select id="id_exame" name="id_exame" required>
            <option value="" selected disabled>Selecione um exame</option>
            {% for exame in exames %}
                <option value="{{ exame.get_id() }}">{{ exame.get_tipo() }}</option>
            {% endfor %}
        </select>

        <label for="cpf">CPF do Paciente:</label>
        <input type="text" id="cpf" name="cpf" required>

        <button type="submit">Registrar</button>
    </form>
{% endblock %}